<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SHIV_Data_Weigh.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SHIV_Data_Weigh.Settings>
            <setting name="ComPort" serializeAs="String">
                <value>COM10</value>
            </setting>
            <setting name="TouqueIP_001" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="TouqueIP_002" serializeAs="String">
                <value>192.168.5.158</value>
            </setting>
            <setting name="TouquePort_001" serializeAs="String">
                <value>4545</value>
            </setting>
            <setting name="TouquePort_002" serializeAs="String">
                <value>4545</value>
            </setting>
            <setting name="TouqueSelect" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TouqueStartCollect" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TouqueEnd" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ComSylvac" serializeAs="String">
                <value>COM12</value>
            </setting>
            <setting name="UseBalance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTouque" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSylvac" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USR424IP" serializeAs="String">
                <value>192.168.10.1</value>
            </setting>
        </SHIV_Data_Weigh.Settings>
    </userSettings>
</configuration>